<div class="content" role="main" *ngIf="vaki$ | async as vaki">
  <!-- Resources -->
  <h1>{{ vaki.name }}</h1>
  <h3>UID: {{ vaki.uid }}</h3>

  <h2>Total recaudado: ${{ totalCollected$ | async | number }}</h2>
  <h2>Total de aportes: {{ totalSupports$ | async }}</h2>

  <div class="card-container">
    <button class="card" (click)="makePayment()">
      <h3>HACER PAGO</h3>
    </button>
  </div>
  <table>
    <tr>
      <th>Fecha del aporte</th>
      <th>Nombre</th>
      <th>Valor</th>
    </tr>
    <tr *ngFor="let payment of payments$ | async">
      <td>{{ payment.date | date }}</td>
      <td>{{ payment.firstName }} {{ payment.lastName }}</td>
      <td>${{ payment.value }}</td>
    </tr>
  </table>
</div>
